/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Grandiflora+One&family=Inter:wght@400;500;600&family=Maiden+Orange&display=swap");

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Fredoka One", sans-serif;
  --third-family: "Grandiflora One", sans-serif;
  --font3: "Maiden Orange", sans-serif;
}

.d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}